<h1><%= @story.title %></h1>

<p>
  <strong>Tags:</strong>
  <% @story.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p><%= @story.body %></p>

<%= link_to "edit", edit_story_path(@story) %>
<%= link_to "delete", story_path(@story), method: :delete, data: {confirm: "Really delete the story?"} %><br>

<%= link_to "<< Back to Stories List", stories_path %><br>

<h3>Comments (<%= @story.comments.size %>)</h3>
<%= render partial: 'stories/comment', collection: @story.comments %>
<%= render partial: 'comments/form' %>
